/* @font-face {
    font-family: "AGOptCyrillic";
    src: local(AGOptCyrillic)
         url('/assets/fonts/agoptcyrillicnormal.ttf') format("truetype") ;
    
  }
  html{
    font-family: 'AGOptCyrillic'
  } */